.App {
  padding: 60px 0 100px;
  max-width: 960px;
  margin: 0 auto;
}

body {
  background: #f9f8fe;
}

main {
  margin: 30px;
}

h1 {
  text-align: center;
}

footer {
  text-align: center;
  margin: 30px 0;
}
